@import "tailwindcss";
@plugin "daisyui";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-base-100 text-base-content;
  }
}

@layer components {
  .btn-active {
    @apply bg-primary text-primary-content;
  }
}
